In [1]:
import pandas as pd
import requests

In [2]:
# Import & read CSV file

csv_data = '../test-data-2.csv'


# Create dataframe based on CSV file

data = pd.read_csv(csv_data)

list(data.columns)

['raw_row_number',
 'date',
 'time',
 'location',
 'lat',
 'lng',
 'district',
 'subject_age',
 'subject_race',
 'subject_sex',
 'type',
 'arrest_made',
 'citation_issued',
 'warning_issued',
 'outcome',
 'contraband_found',
 'search_conducted',
 'search_vehicle',
 'search_basis',
 'reason_for_stop',
 'raw_search_vehicle_description',
 'raw_result_of_contact_description']

In [3]:
# Remove unwanted columns

df = pd.DataFrame(data)

df = df.drop(columns=['raw_row_number',
                      'location',
                      'district',
                      'type',
                      'citation_issued',
                      'contraband_found',
                      'search_conducted',
                      'search_vehicle',
                      'reason_for_stop',
                      'raw_search_vehicle_description',
                      'raw_result_of_contact_description',
                      'search_basis',
                      ])

df.head()

,date,time,lat,lng,subject_age,subject_race,subject_sex,arrest_made,warning_issued,outcome
0,1/1/2015,1:00:00,37.736362,-122.390097,23,black,male,False,True,warning
1,1/1/2015,1:00:00,37.742207,-122.422097,30,hispanic,female,False,True,warning
2,1/1/2015,1:00:00,37.745603,-122.419898,35,white,male,False,False,citation
3,1/1/2015,1:00:00,37.782485,-122.424125,44,white,male,False,False,citation
4,1/1/2015,1:00:00,37.742822,-122.481078,60,white,male,False,True,warning

In [4]:
# Fill in NA values with unknown values

values = {'date': "1/1/1900", 
          'time': "00:00:00",  
          'subject_age': 0, 
          'subject_race':"other", 
          'subject_sex': "unknown", 
          'arrest_made':"unknown", 
          'warning_issued': "unknown", 
          'outcome': "unknown"}

df1 = df.fillna(value=values)

df1.head(-1)

,date,time,lat,lng,subject_age,subject_race,subject_sex,arrest_made,warning_issued,outcome
0,1/1/2015,1:00:00,37.736362,-122.390097,23,black,male,False,True,warning
1,1/1/2015,1:00:00,37.742207,-122.422097,30,hispanic,female,False,True,warning
2,1/1/2015,1:00:00,37.745603,-122.419898,35,white,male,False,False,citation
3,1/1/2015,1:00:00,37.782485,-122.424125,44,white,male,False,False,citation
4,1/1/2015,1:00:00,37.742822,-122.481078,60,white,male,False,True,warning
...,...,...,...,...,...,...,...,...,...,...
93,1/1/2015,19:20:00,37.780474,-122.475113,21,black,female,False,False,citation
94,1/1/2015,19:22:00,37.714951,-122.442500,20,hispanic,female,False,False,citation
95,1/1/2015,19:27:00,37.763640,-122.416281,21,black,male,False,True,warning
96,1/1/2015,19:29:00,37.714688,-122.447335,20,asian/pacific islander,female,False,True,warning
97,1/1/2015,19:30:00,37.784034,-122.454638,36,asian/pacific islander,female,False,False,citation

In [5]:
#Removed rows where lat/long were NA. This removed 91 rows.

df2 = df1.dropna()

df2.head(-1)

,date,time,lat,lng,subject_age,subject_race,subject_sex,arrest_made,warning_issued,outcome
0,1/1/2015,1:00:00,37.736362,-122.390097,23,black,male,False,True,warning
1,1/1/2015,1:00:00,37.742207,-122.422097,30,hispanic,female,False,True,warning
2,1/1/2015,1:00:00,37.745603,-122.419898,35,white,male,False,False,citation
3,1/1/2015,1:00:00,37.782485,-122.424125,44,white,male,False,False,citation
4,1/1/2015,1:00:00,37.742822,-122.481078,60,white,male,False,True,warning
...,...,...,...,...,...,...,...,...,...,...
93,1/1/2015,19:20:00,37.780474,-122.475113,21,black,female,False,False,citation
94,1/1/2015,19:22:00,37.714951,-122.442500,20,hispanic,female,False,False,citation
95,1/1/2015,19:27:00,37.763640,-122.416281,21,black,male,False,True,warning
96,1/1/2015,19:29:00,37.714688,-122.447335,20,asian/pacific islander,female,False,True,warning
97,1/1/2015,19:30:00,37.784034,-122.454638,36,asian/pacific islander,female,False,False,citation

In [6]:
df2.dtypes

date               object
time               object
lat               float64
lng               float64
subject_age         int64
subject_race       object
subject_sex        object
arrest_made          bool
warning_issued       bool
outcome            object
dtype: object

In [7]:
# Export dataframe to csv

# df2.to_csv('cleaned_version.csv',index=False)

In [8]:
# Export Data frame to mongodb

import pymongo

conn = 'mongodb://localhost:27017'

client = pymongo.MongoClient(conn)

db = client.test_db_2

collection = db.stops

db.collection.insert_many(df2.to_dict("records"))

In [9]:
# Loop through created mongodb to ensure creation of database .

police_stops = db.collection.find()
for stop in police_stops:
    print(stop)

{'_id': ObjectId('5ee5a47482ecdfdcc2c66947'), 'date': '1/1/2015', 'time': '1:00:00', 'lat': 37.7363625, 'lng': -122.3900969, 'subject_age': 23, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66948'), 'date': '1/1/2015', 'time': '1:00:00', 'lat': 37.7422074, 'lng': -122.42209720000001, 'subject_age': 30, 'subject_race': 'hispanic', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66949'), 'date': '1/1/2015', 'time': '1:00:00', 'lat': 37.745603499999994, 'lng': -122.4198975, 'subject_age': 35, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6694a'), 'date': '1/1/2015', 'time': '1:00:00', 'lat': 37.7824854, 'lng': -122.4241254, 'subject_age': 44, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6694b'), 'date': '1/1/2015', 'time': '1:00:00', 'lat': 37.742821899999996, 'lng': -122.48107759999998, 'subject_age': 60, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6694c'), 'date': '1/1/2015', 'time': '10:46:00', 'lat': 37.7393217, 'lng': -122.41828259999998, 'subject_age': 45, 'subject_race': 'white', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6694d'), 'date': '1/1/2015', 'time': '11:08:00', 'lat': 37.78280170000001, 'lng': -122.4676437, 'subject_age': 59, 'subject_race': 'asian/pacific islander', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6694e'), 'date': '1/1/2015', 'time': '11:44:00', 'lat': 37.7827489, 'lng': -122.46872340000002, 'subject_age': 38, 'subject_race': 'asian/pacific islander', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6694f'), 'date': '1/1/2015', 'time': '11:45:00', 'lat': 37.7427239, 'lng': -122.48321990000001, 'subject_age': 25, 'subject_race': 'asian/pacific islander', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66950'), 'date': '1/1/2015', 'time': '1:15:00', 'lat': 37.7755454, 'lng': -122.41403290000001, 'subject_age': 41, 'subject_race': 'other', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66951'), 'date': '1/1/2015', 'time': '11:53:00', 'lat': 37.7863203, 'lng': -122.4089512, 'subject_age': 30, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66952'), 'date': '1/1/2015', 'time': '1:20:00', 'lat': 37.733403, 'lng': -122.428393, 'subject_age': 22, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66953'), 'date': '1/1/2015', 'time': '12:00:00', 'lat': 37.77623320000001, 'lng': -122.41162109999999, 'subject_age': 50, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66954'), 'date': '1/1/2015', 'time': '12:01:00', 'lat': 37.76015, 'lng': -122.47671000000001, 'subject_age': 24, 'subject_race': 'white', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66955'), 'date': '1/1/2015', 'time': '1:25:00', 'lat': 37.733719, 'lng': -122.426702, 'subject_age': 20, 'subject_race': 'other', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66956'), 'date': '1/1/2015', 'time': '1:30:00', 'lat': 37.784259399999996, 'lng': -122.4088091, 'subject_age': 36, 'subject_race': 'black', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66957'), 'date': '1/1/2015', 'time': '1:30:00', 'lat': 37.7862992, 'lng': -122.4316575, 'subject_age': 50, 'subject_race': 'white', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66958'), 'date': '1/1/2015', 'time': '13:09:00', 'lat': 37.749804299999994, 'lng': -122.4135879, 'subject_age': 40, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66959'), 'date': '1/1/2015', 'time': '13:20:00', 'lat': 37.785138200000006, 'lng': -122.40350579999999, 'subject_age': 22, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6695a'), 'date': '1/1/2015', 'time': '13:22:00', 'lat': 37.761634, 'lng': -122.4194756, 'subject_age': 29, 'subject_race': 'other', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6695b'), 'date': '1/1/2015', 'time': '13:25:00', 'lat': 37.7815206, 'lng': -122.4117038, 'subject_age': 24, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6695c'), 'date': '1/1/2015', 'time': '13:25:00', 'lat': 37.7209722, 'lng': -122.3917054, 'subject_age': 29, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6695d'), 'date': '1/1/2015', 'time': '13:30:00', 'lat': 37.782594399999994, 'lng': -122.4157183, 'subject_age': 57, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6695e'), 'date': '1/1/2015', 'time': '13:30:00', 'lat': 37.7744948, 'lng': -122.4149503, 'subject_age': 20, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6695f'), 'date': '1/1/2015', 'time': '13:32:00', 'lat': 37.763063700000004, 'lng': -122.4195044, 'subject_age': 53, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66960'), 'date': '1/1/2015', 'time': '13:54:00', 'lat': 37.779709499999996, 'lng': -122.4100481, 'subject_age': 27, 'subject_race': 'black', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66961'), 'date': '1/1/2015', 'time': '13:55:00', 'lat': 37.76348529999999, 'lng': -122.4184436, 'subject_age': 32, 'subject_race': 'hispanic', 'subject_sex': 'male', 'arrest_made': True, 'warning_issued': False, 'outcome': 'arrest'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66962'), 'date': '1/1/2015', 'time': '13:57:00', 'lat': 37.782532700000004, 'lng': -122.4667361, 'subject_age': 21, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66963'), 'date': '1/1/2015', 'time': '1:40:00', 'lat': 37.733608399999994, 'lng': -122.4341534, 'subject_age': 34, 'subject_race': 'other', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66964'), 'date': '1/1/2015', 'time': '14:00:00', 'lat': 37.777081200000005, 'lng': -122.463939, 'subject_age': 78, 'subject_race': 'asian/pacific islander', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66965'), 'date': '1/1/2015', 'time': '14:12:00', 'lat': 37.7992091, 'lng': -122.41907450000001, 'subject_age': 54, 'subject_race': 'other', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66966'), 'date': '1/1/2015', 'time': '14:14:00', 'lat': 37.784875, 'lng': -122.41280630000001, 'subject_age': 32, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66967'), 'date': '1/1/2015', 'time': '14:30:00', 'lat': 37.7134317, 'lng': -122.43458419999999, 'subject_age': 22, 'subject_race': 'hispanic', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66968'), 'date': '1/1/2015', 'time': '14:46:00', 'lat': 37.786742600000004, 'lng': -122.41318249999999, 'subject_age': 22, 'subject_race': 'other', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66969'), 'date': '1/1/2015', 'time': '14:50:00', 'lat': 37.9613118, 'lng': -122.34230430000001, 'subject_age': 22, 'subject_race': 'hispanic', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6696a'), 'date': '1/1/2015', 'time': '15:03:00', 'lat': 37.7337774, 'lng': -122.4350009, 'subject_age': 43, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6696b'), 'date': '1/1/2015', 'time': '15:18:00', 'lat': 37.787149, 'lng': -122.4098966, 'subject_age': 51, 'subject_race': 'other', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6696c'), 'date': '1/1/2015', 'time': '15:36:00', 'lat': 37.7868784, 'lng': -122.40835849999999, 'subject_age': 46, 'subject_race': 'asian/pacific islander', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6696d'), 'date': '1/1/2015', 'time': '15:44:00', 'lat': 37.760439399999996, 'lng': -122.4159588, 'subject_age': 29, 'subject_race': 'white', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6696e'), 'date': '1/1/2015', 'time': '15:48:00', 'lat': 37.7873778, 'lng': -122.4082389, 'subject_age': 32, 'subject_race': 'asian/pacific islander', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6696f'), 'date': '1/1/2015', 'time': '15:50:00', 'lat': 37.7881679, 'lng': -122.4083985, 'subject_age': 34, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66970'), 'date': '1/1/2015', 'time': '15:54:00', 'lat': 37.729121500000005, 'lng': -122.38401299999998, 'subject_age': 21, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': True, 'warning_issued': False, 'outcome': 'arrest'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66971'), 'date': '1/1/2015', 'time': '16:00:00', 'lat': 37.80222020000001, 'lng': -122.41800490000001, 'subject_age': 25, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66972'), 'date': '1/1/2015', 'time': '16:00:00', 'lat': 37.7850913, 'lng': -122.4111659, 'subject_age': 54, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66973'), 'date': '1/1/2015', 'time': '16:01:00', 'lat': 37.7324458, 'lng': -122.4056325, 'subject_age': 52, 'subject_race': 'asian/pacific islander', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66974'), 'date': '1/1/2015', 'time': '16:10:00', 'lat': 37.7841903, 'lng': -122.4114669, 'subject_age': 31, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66975'), 'date': '1/1/2015', 'time': '16:13:00', 'lat': 37.788300799999995, 'lng': -122.40842479999999, 'subject_age': 56, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66976'), 'date': '1/1/2015', 'time': '16:14:00', 'lat': 37.730214000000004, 'lng': -122.4090699, 'subject_age': 23, 'subject_race': 'asian/pacific islander', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66977'), 'date': '1/1/2015', 'time': '16:14:00', 'lat': 37.7725299, 'lng': -122.4423881, 'subject_age': 30, 'subject_race': 'hispanic', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66978'), 'date': '1/1/2015', 'time': '16:18:00', 'lat': 37.788300799999995, 'lng': -122.40842479999999, 'subject_age': 19, 'subject_race': 'hispanic', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66979'), 'date': '1/1/2015', 'time': '16:20:00', 'lat': 37.7963293, 'lng': -122.41513490000001, 'subject_age': 39, 'subject_race': 'hispanic', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6697a'), 'date': '1/1/2015', 'time': '16:33:00', 'lat': 37.746691399999996, 'lng': -122.478122, 'subject_age': 26, 'subject_race': 'hispanic', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6697b'), 'date': '1/1/2015', 'time': '16:50:00', 'lat': 37.789883, 'lng': -122.44082890000001, 'subject_age': 28, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6697c'), 'date': '1/1/2015', 'time': '16:58:00', 'lat': 37.7745415, 'lng': -122.5092619, 'subject_age': 25, 'subject_race': 'hispanic', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6697d'), 'date': '1/1/2015', 'time': '16:59:00', 'lat': 37.7509769, 'lng': -122.4128627, 'subject_age': 48, 'subject_race': 'other', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6697e'), 'date': '1/1/2015', 'time': '17:15:00', 'lat': 37.7434402, 'lng': -122.43112679999999, 'subject_age': 44, 'subject_race': 'other', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6697f'), 'date': '1/1/2015', 'time': '17:18:00', 'lat': 37.7668703, 'lng': -122.39083959999999, 'subject_age': 47, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66980'), 'date': '1/1/2015', 'time': '17:19:00', 'lat': 37.7608785, 'lng': -122.4958544, 'subject_age': 49, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66981'), 'date': '1/1/2015', 'time': '17:20:00', 'lat': 37.765186299999996, 'lng': -122.417527, 'subject_age': 24, 'subject_race': 'hispanic', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66982'), 'date': '1/1/2015', 'time': '17:25:00', 'lat': 37.7156446, 'lng': -122.4394821, 'subject_age': 46, 'subject_race': 'black', 'subject_sex': 'female', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66983'), 'date': '1/1/2015', 'time': '17:25:00', 'lat': 37.7216176, 'lng': -122.438622, 'subject_age': 23, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66984'), 'date': '1/1/2015', 'time': '17:30:00', 'lat': 37.7285805, 'lng': -122.37929869999999, 'subject_age': 19, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66985'), 'date': '1/1/2015', 'time': '17:30:00', 'lat': 37.7203131, 'lng': -122.47514109999999, 'subject_age': 60, 'subject_race': 'black', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66986'), 'date': '1/1/2015', 'time': '17:30:00', 'lat': 37.7426054, 'lng': -122.43553759999999, 'subject_age': 22, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66987'), 'date': '1/1/2015', 'time': '17:40:00', 'lat': 37.7395062, 'lng': -122.4950263, 'subject_age': 40, 'subject_race': 'other', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66988'), 'date': '1/1/2015', 'time': '17:40:00', 'lat': 37.739143799999994, 'lng': -122.47973590000002, 'subject_age': 57, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c66989'), 'date': '1/1/2015', 'time': '18:01:00', 'lat': 37.707055600000004, 'lng': -122.41295579999999, 'subject_age': 26, 'subject_race': 'asian/pacific islander', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6698a'), 'date': '1/1/2015', 'time': '18:05:00', 'lat': 37.7812463, 'lng': -122.4610925, 'subject_age': 27, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6698b'), 'date': '1/1/2015', 'time': '18:06:00', 'lat': 37.73229179999999, 'lng': -122.4854243, 'subject_age': 28, 'subject_race': 'white', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6698c'), 'date': '1/1/2015', 'time': '18:07:00', 'lat': 37.7093939, 'lng': -122.42227109999999, 'subject_age': 36, 'subject_race': 'asian/pacific islander', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6698d'), 'date': '1/1/2015', 'time': '18:11:00', 'lat': 37.716367299999995, 'lng': -122.4412946, 'subject_age': 40, 'subject_race': 'hispanic', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6698e'), 'date': '1/1/2015', 'time': '18:15:00', 'lat': 37.7878898, 'lng': -122.41172730000001, 'subject_age': 38, 'subject_race': 'asian/pacific islander', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': False, 'outcome': 'citation'}
{'_id': ObjectId('5ee5a47482ecdfdcc2c6698f'), 'date': '1/1/2015', 'time': '18:16:00', 'lat': 37.7462649, 'lng': -122.3873202, 'subject_age': 26, 'subject_race': 'asian/pacific islander', 'subject_sex': 'male', 'arrest_made': False, 'warning_issued': True, 'outcome': 'warning'}